/*
 *= require_self
 */

$headings-font-weight: 600;

@import "bourbon";
@import "bootstrap-sprockets";
@import "bootstrap";


// Overrides

body {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
}

.input-lg {
  height: 45px;
}

// Classes

.title-heading {
  margin-top: 126px;
  text-align: center;
}

.line {
  height: 1px;
  margin: 30px 0;
  background-color: #ddd;
  text-align: center;

  span {
    position: relative;
    top: -0.75em;
    padding: 0 10px;
    background-color: white;
    color: #ddd;
    font-size: 20px;
  }
}

.search-heading,
.ticket-heading {
  margin-top: 0;
}

.search-results {
  max-height: 292px;
  margin-bottom: 15px;
  overflow-y: auto;
}

.result {
  display: block;
  padding: 10px;
  text-decoration: none;

  &:hover {
    background-color: #f7f9fa;
    text-decoration: none;
  }

  .result-title {
    font-weight: 600;
    line-height: 20px;
    text-decoration: underline;
  }

  .result-body {
    color: #666;
    font-size: 90%;
    line-height: 16px;
  }
}

.ticket-message {
  height: 218px !important;
}

.ticket-thanks {
  text-align: center;

}
