doctype 5
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"

    title Feedback and Support

    link href="//fonts.googleapis.com/css?family=Open+Sans:400,600" media="all" rel="stylesheet"

    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  body
    .container-fluid: .row = yield

    = javascript_include_tag "application"

  /! Zopim Live Chat
  javascript:
    window.$zopim || (function(d, s) {
      var z = $zopim = function(c) {
        z._.push(c)
      }, $ = z.s = d.createElement(s), e = d.getElementsByTagName(s)[0];
      z.set = function(o) {
        z.set._.push(o)
      };
      z._ = [];
      z.set._ = [];
      $.async = !0;
      $.setAttribute('charset', 'utf-8');
      $.src = '//v2.zopim.com/?#{ENV['ZOPIM_TOKEN']}';
      z.t = +new Date;
      $.type = 'text/javascript';
      e.parentNode.insertBefore($, e)
    })(document, 'script');

    // Zopim Live Chat Widget
    $zopim(function() {
      $zopim.livechat.set({
        language: 'en',
        name: "#{session[:name]}",
        email: "#{session[:email]}"
      });

      $zopim.livechat.button.setHideWhenOffline('true');

      var tags = #{{session[:tags].to_json}};
      for (var index in tags){
        $zopim.livechat.addTags(tags[index]);
      }
      $zopim.livechat.departments.setVisitorDepartment('#{ENV['ZOPIM_DEPARTMENT']}');

      $("#zopim-chat").on("click", function(event) {
        event.preventDefault();
        $zopim.livechat.window.show();
      });
    });


